@font-face {
    font-family: bannerfont;
    src: url(../Assets/font/Montserrat-Regular.ttf);
}

.mcv-banner {
    color: black;
    text-align: center; /* Centrer le texte pour un meilleur rendu */
    padding: 100px 20px; /* Réduction du padding pour éviter le débordement */
    border-bottom: solid 3px black;
    display: flex;
    justify-content: center; /* Centrage sur petit écran */
    flex-direction: column;
    align-items: center;
    background-image: url("../Assets/img/cerf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Ajuste l’image pour éviter qu’elle coupe mal */
    width: 100%; /* Empêche le dépassement horizontal */
    max-width: 100vw; /* Sécurise contre un éventuel débordement */
    box-sizing: border-box; /* Évite que le padding agrandisse la bannière */
}





.mcv-header {
    display: flex;
    align-items: center; 
    gap: 15px; 
}

.mcv-title {
	padding-left: 32px;
}

.mcv-profile {
	height: 150px;
	width: 150px;
    border: solid 3px greenyellow;
    border-radius: 90px;
}

.mcv-typing {
    color: black;
    font-size: 35px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: bannerfont;
}

@media screen and (max-width: 768px) {
    .mcv-banner {
        padding: 50px 15px;
    }
}
