.mcv-competence {
    text-align: center;
    padding: 20px;
    border: solid 3px black;
}

.competence-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    margin-top: 10px;
}

.competence-logo {
    width: auto;
    height: 100px;
    transition: transform 0.3s ease-in-out;
}

.competence-logo:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .competence-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px) {
    .competence-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .competence-logo {
        max-width: 100px;
        min-width: 80px;
        height: auto;
    }

    .mcv-competence {
        border: solid 3px black;
    }
}
