.mcv-cv {
	color: black;
	text-align: right;
	padding: 32px;
	border-bottom: solid 3px black;
	display: flex;
	justify-content: flex-start;
	flex-direction: column  ;
	align-items: center;
    /* background-image: url("../Assets/img/background.jpg"); */
    /*background-color: #b0f2b6;*/
}